<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="GhostScriptPath" value="C:\Program Files\gs\gs10.01.2\bin" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="magick-batch-console-log.txt" />
	</appSettings>
</configuration>