<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
	<add key="SourcePath" value="C:\\your\\path\\here\\" />
    <add key="TargetPath" value="C:\\your\\path\\here\\" />
	<add key="serilog:using:File" value="Serilog.Sinks.File" />
	<add key="serilog:write-to:File.path" value="magick-batch-console-log.txt" />
  </appSettings>
</configuration>